html, body {
	padding: 0;
	margin: 0;
	min-width: 100%;
	min-height: 100%;
	font-family: Roboto, sans-serif;
	background-color: rgb(250, 250, 250);
	// background-color: aqua;
}

.content {
	margin: .25rem auto 0;
	padding: 1rem;
	max-width: 77rem;
	min-width: 22rem;

}

.header {
	font-size: .75rem;
	color: rgb(156, 156, 156);
	font-weight: 500;

	&__option {
		margin-right: .5rem;
		display: inline-block;
		margin-top: .25rem;

		&-current {
			color: black;
		}
	}

	&__dash {
		margin-right: .5rem;
		display: inline-block;
		margin-top: .25rem;
	}
}

.card {
	max-width: 48rem;
	min-width: 15rem;
	margin-top: 2rem;
	padding: 1.5rem;
	background-color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	box-shadow: 0 .25rem 1.25rem 0rem rgb(225, 225, 225);
}


// Media Query Start
// 
@media (min-width: 54rem){
	.main__cards {
		display: flex;
		&-item {
			max-width: 24.5rem;
			width: 35%;
			order: 2;

		}
		&-payment {
			min-width: 28.25rem;
			width: 65%;
			margin-right: 2rem;
			order: 1;
		}
	}
	.card__billing {
		display: flex;
		&-content {
			min-width: 28.25rem;
			width: 65%;
			margin-right: 2rem;
		}
		&-emptydiv {
			max-width: 24.5rem;
			min-width: 15rem;
			width: 35%;
			order: 2;
			background-color: transparent;
			margin-top: 2rem;
			padding: 1.5rem;
		}
	}
}
// 
// Media Query End

.hr {
	width: 100%;
	height: 1px;
	// min-height: .1rem;
	background-color: rgb(222, 222, 222);
	margin: 1.25rem 0;
	// padding: 0;
	box-sizing: border-box;
}

.bottom-padding {
	padding-bottom: .75rem;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	&__left {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 11rem;

	}
	
	&__img {
		height: 2.75rem;
		width: 3rem;
		background-color: white;
		border: solid .05rem lightgrey;
		border-radius: .5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		&-img {
			height: 1.5rem;
		}

		&:after {
			content: "2";
			background-color: rgb(95, 135, 236);
			height: 1.25rem;
			width: 1.25rem;
			border-radius: 50%;
			text-align: center;
			font-size: .65rem;
			line-height: 1.25rem;
			color: white;
			position: absolute;
			top: -.6rem;
			left: 2.5rem;
		}
	}

	&__name {

	}

	&__price {
		font-weight: 500;
	}
}

.cost {
	display: flex;
	flex-direction: column;

	&__line {
	display: flex;
	justify-content: space-between;

		&-item {
			font-size: .8rem;
		}
	}
}

.total {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__item {
		font-size: .8rem;
	}
	&__price {
		font-size: 1.1rem;
		font-weight: 500;
	}
}