html, body {
	background: linear-gradient(rgba(208, 221, 233), rgba(127, 151, 172));
	background-image: 
	background-color: pink;
	background-size: 100%;
	height: 100%;
	width: 100%;
}

.main {
	height: 33rem;
	width: 25rem;
	background-color: white;
	font-family: Roboto, sans-serif;
}

.centered {
	position: absolute;
	margin-left: 50%;
	margin-top: 5rem;
	transform: translate(-50%, 0);
}

/*Contact Info Box*/
.contact-name__dot {
	height: .5rem;
	width: .5rem;
	display: inline-block;
	background-color: white;
	border-radius: 50%;
	float: left;
	margin: 1.8rem 1rem .5rem 1rem;
}

.contact-name__box {
	background-color: rgba(106, 150, 215);
	color: white;
	height: 2rem;
	padding: .5rem 0rem 2rem 1.3rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
}

.contact-name {
	display: inline-block;
}

.close {
	filter: brightness(.8);
	display: inline-block;
	float: right;
	padding-top: .8rem;
	padding-right: 1rem;
}
/*Date Line Section*/
.date {
	color: lightgrey;
	font-size: .8rem;
	text-align: center;
	background-color: white;
	margin-left: 8.5rem;
	margin-top: -.3rem;
	display: block;
	position: absolute;
	width: 4rem;
}

.date__line {
	height: .1rem;
	background-color: rgba(221, 221, 221);
	width: 22rem;
	margin-top: 1.8rem;
	margin-bottom: 1.8rem;
	margin-left: 1.3rem;

}

.time {
	color: rgba(183, 173, 170);
	padding-left: 1.5rem;
	font-size: .8rem;
	margin-bottom: -.5rem;
	margin-top: -.1rem;
}

/*Messages Section*/
.time__received {
	text-align: right;
	padding-right: 1.5rem;
}

.speech-bubble {
	max-width: 15.5rem;
	border-radius: .2rem;
	padding: 1rem .5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	font-size: .8rem;
	position: relative;
}

.speech-bubble__sent::before {
	content: "";
	position: absolute;
	left: 0;
	top: .3rem;
	border: .8rem solid transparent;
	border-right-color: rgba(230, 237, 245);
	border-left: 0;
	border-top: 0;
	margin-top: -0.3rem;
	margin-left: -0.6rem;
	/*rgba(230, 237, 245)*/
	
}

.speech-bubble__rec::after {
	content: "";
	position: absolute;
	right: 0;
	top: .3rem;
	border: .8rem solid transparent;
	border-left-color: rgba(242, 242, 242);
	border-right: 0;
	border-top: 0;
	margin-top: -0.3rem;
	margin-right: -0.6rem;
}

/*Types of messages*/
.sent {
	float: left;
	clear: both
}

.sent__message {
	background-color: rgba(230, 237, 245);
}

.received {
	float: right;
	clear: both
}

.received__message{
	background-color: rgba(242, 242, 242);
}

.blocked {
	background-color: rgba(254, 194, 193);
	margin-top: -.1rem;
}

.line {
	height: .01rem;
	background-color: rgba(221, 221, 221);
	width: 22rem;
	margin-top: 22rem;
	margin-bottom: .5rem;
	margin-left: 1.5rem;
}

.send-box {
	color: grey;
	margin-left: 1.5rem;
	display: inline-block;
}

.send-button {
	display: inline-block;
	position: relative;
	float: right;
	margin-right: 1.5rem;
	color: rgba(110, 150, 216);
	font-weight: 700;
	letter-spacing: .1rem;
}