html, body {
	background: linear-gradient(rgba(208, 221, 233), rgba(127, 151, 172));
	background-image: 
	background-color: pink;
	background-size: 100%;
	height: 100%;
	width: 100%;
}

.main {
	height: 30rem;
	width: 25rem;
	background-color: white;
	font-family: Roboto, sans-serif;
}

.centered {
	position: absolute;
	margin-left: 50%;
	margin-top: 5rem;
	transform: translate(-50%, 0);
}

.contact-name__dot {
	height: .5rem;
	width: .5rem;
	display: inline-block;
	background-color: white;
	border-radius: 50%;
	float: left;
	margin: 1.8rem 1rem .5rem 1rem;
}

.contact-name__box {
	background-color: rgba(106, 150, 215);
	color: white;
	height: 2rem;
	padding: .5rem 0rem 2rem 1.3rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 500;
}

.contact-name {
	display: inline-block;
}

.close {
	filter: brightness(.8);
	display: inline-block;
	float: right;
	padding-top: .8rem;
	padding-right: 1rem;
}

.time {
	color: grey;
}

.time__received {
	text-align: right;
}

.speech-bubble {
	max-width: 18rem;
}

.sent {
	float: left;
	clear: both
}

.sent__message {
	background-color: rgba(230, 237, 245);
}

.received {
	float: right;
	clear: both
}

.received__message{
	background-color: rgba(242, 242, 242);
}

.blocked {
	background-color: rgba(254, 194, 193);
}

