html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	font-family: Roboto, sans-serif;
	background-color: rgb(41, 128, 185);
}


.container {
	width: 53.5rem;
	margin: 7.25rem auto 0;
	display: flex;
	justify-content: center;

	.container__videos {
		width: 35.5rem;
		display: flex;
		justify-content: space-between;
		
	}
}
.card {
	position: relative;
	width: 17rem;
	height: 33rem;
	
}

.video {
	height: 21.5rem;
	width: 14.5rem;


	&__container {
		position: absolute;
		left: 1.25rem;
		bottom: 12.5rem;
		box-shadow: 0 1rem 1.5rem -.75rem rgb(45, 45, 45);
		height: 21.5rem;
		width: 14.5rem;
		z-index: 5;

		&:hover + .popup {
			transform: scale(1);
			animation-name: bounce;
			animation-duration: .3s;
			animation-timing-function: linear;
			animation-iteration-count: 1;
		}
	}
}

.popup {
	width: 17rem;
	height: 33rem;
	transform: scale(0);
	overflow: hidden;
	border-radius: .25rem;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	box-shadow: 0 1.25rem 1.25rem -.75rem rgb(34, 71, 98);
	transition: all .2s ease-in;

	&:hover {
		transform: scale(1);
	}

	&__content {
		height: 11rem;
		width: 100%;
		border-radius: .25rem;
	}
}

.title {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 3rem;

	&__main {
		text-transform: uppercase;
		font-size: 1.1rem;
		font-weight: 700;
	}

	&__sub {
		font-size: .8rem;
		color: rgb(173, 169, 170);
		margin-top: .25rem;
	}
}

.price {
	width: 100%;
	height: 2.25rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5rem;

	&__sale {
		color: rgb(70, 200, 124);
		font-weight: 300;
		font-size: 1.1rem;
	}

	&__old {
		color: rgb(173, 169, 170);
		font-size: .9rem;
		text-decoration: line-through;
	}
}

.button {
	width: 100%;
	height: 3rem;
	background-color: rgb(47, 47, 46);
	color: white;
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 1.25rem;
	transition: margin-top .1s ease, height .1s ease;
	border-radius: 0 0 .25rem .25rem;

	&:hover {
		cursor: pointer;
	}

	&:active {
		margin-top: 1.45rem;
		height: 2.8rem;
	} 
}

// .bounce {
// 	&:hover {
// 		animation: bounce 1s ease;
// 		// transform: scale(0) ease;
// 	}
// }

@keyframes bounce {
	0% {transform: scale(.5);}
	25% {transform: scale(.75);}
	50% {transform: scale(1);}
	75% {transform: scale(.99);}
	100% {transform: scale(1);}
}