html, body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
}

body {
	background-color: rgb(77, 38, 230);
	font-family: Roboto, sans-serif;
}

.layout {
	z-index: auto;
	position: relative;
	width: 64rem;
	height: 40rem;
	background-color: black;
	// width: 27.75rem;
	margin: 2.5rem auto 0;


	&__left {
		background-color: rgb(226, 104, 150);
		height: 40rem;
		width: 27.75rem;
		border-radius: .5rem;
		margin-left: 4rem;
		position: relative;
		z-index: 2;
		// float: left;
		display: inline;
		float: left;
		
	}

	&__right {
		background-color: white;
		height: 35.5rem;
		width: 32rem;
		border-radius: 0 .5rem .5rem 0;
		margin-top: 2.25rem;
		z-index: 1;
		float: left;
		display: inline;
	}
}

.nike-logo {
	height: 1rem;
	
}

.shoe-num {
	// z-index: -1;
	height: 20rem;
	width: 100%;
	text-align: center;
	font-size: 20rem;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.2);

}

.product-img {
	height: 28rem;
	position: absolute;
	top: 0;
	left: -10rem;
}

.plus {
	height: 2rem;
	width: 2rem;
	background-color: rgb(84, 41, 242);
	border-radius: 50%;
	text-align: center;
	line-height: 2rem;
	color: white;
	position: absolute;
}

.loading {
	width: 10rem;
	height: 10rem;

	&__dot {
		height: 2rem;
		width: 2rem;
		background-color: rgba(255, 255, 255, 0.25);
		// background-color: black;
		border-radius: 50%;

	}
}