html, body {
	min-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: rgb(70, 119, 246);
	font-family: Roboto, sans-serif;
}

.card {
	background-color: white;
	height: 42.75rem;
	width: 28rem;
	margin: 9rem auto 9rem;
	&__content {
		
	}
}

.search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0rem 2rem;
	height: 5rem;
	// background-color: pink;

	&__text {
		text-transform: uppercase;
	}

	&__icon {
		filter: opacity(0.25);
	}
}