html, body {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: rgb(194, 175, 249);
	font-family: Roboto, sans-serif;
}

.card {
	height: 37.5rem;
	width: 50rem;
	background-color: rgb(83,87, 116);
	margin: 3.25rem auto 0;
	border-radius: .25rem;
	position: relative;

	&__main {
		padding: 2.5rem;
	}

	&__header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__nav {
		position: absolute;
		background-color: rgb(61, 63, 92);
		height: 4.5rem;
		width: 100%;
		bottom: 0;
		border-radius: 0 0 .25rem .25rem;
	}
}

.title {

	&__page {
		color: rgb(239, 139, 167);
		font-size: 3.2rem;
		text-transform: uppercase;
		font-weight: 900;

		&-sub {
			text-transform: uppercase;
			font-size: .75rem;
			color: rgb(208, 208, 208);
			font-weight: 500;
		}
	}
}

.button {
	color: white;
	padding: .75rem 1.85rem;
	border: solid .05rem white;
	border-radius: 2rem;
	text-transform: uppercase;
	font-size: .75rem;
	font-weight: 700;
	cursor: pointer;

	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	&__more {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 19rem;
		align-self: center;
	}
}


.content {
	
	&__main {
		display: flex;
		justify-content: space-between;
		background-color: pink;
		margin-top: 1.75rem;
	}

	&__sub {

	}

	&__right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.video {
	background-image: url("img/screenshot.jpg");
	height: 12.5rem;
	width: 18.5rem;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: inset 0rem -4rem 8rem .5rem rgba(30, 30, 50, .95),
				0rem 1.25rem 1.75rem -.5rem rgba(30, 30, 40, .95);

}
.play {
	color: white;

	&-circle {
		width: 3.5rem;
		height: 3.5rem;
		border-radius: 50%;
		border: solid 1px rgba(255, 255, 255,.5);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:hover {
			background-color: rgba(255, 255, 255, 0.1);
		}
	}
}

.article {
	width: 25rem;
	height: 9rem;
	background-color: rgb(75, 79, 104);
	padding: 1rem 2rem 0rem 1rem;
	box-sizing: border-box;

	&__title {
		color: white;
		font-size: 1.5rem;
		font-weight: 700;

		&-sub {
			color: rgb(170, 170, 170);
			font-size: .9rem;
			font-weight: 500;
			margin-top: .25rem;
		}
	}

	&__content {
		margin-top: .5rem;
		color: white;
		font-size: .8rem;
		line-height: 1.5rem;
	}
}