html {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(221, 139, 137);
	font-family: Roboto, sans-serif;
	
}

.content {
	margin-top: 5rem;
}

.heading {
	width: 85rem;

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(234, 185, 184);
		font-size: 3.75rem;
		font-weight: 700;
		display: inline-block;
		padding-right: 1rem;
		margin-right: 2.75rem;

		&:hover {
			color: rgb(242, 208, 208);
		}
	}
}

.synthetic {
	color: white;

	&:hover {
		color: white;
		cursor: default;
	}
}



.subheader {
	color: white;
	max-width: 39rem;
	padding: 1rem 0;
	margin-bottom: 3rem;
}


.info {

	&__content {
		display: flex;
		flex-direction: row;
	}

	&__timer {
		background-color: rgb(63, 60, 61);
		display: relative;

		&:before {
			content: "";
			display: absolute;
			background-color: rgb(230, 183, 182);
			height: 5rem;
			width: 5rem;
		}
	}

	&__temperature {
		background-color: rgb(53, 51, 52);
	}

	&__load {
		background-color: rgb(32, 30, 31);
	}

}

.wash {
	min-width: 19rem;
	min-height: 19rem;
	
	&__content {
		display: flex;
		flex-direction: column;
	}

	&__header {
		color: rgb(199, 143, 139);
	}

	&__info {
		color: white;
		font-weight: 500;
	}
}

.start {
	text-transform: uppercase;
	background-color: black;
	color: white;
	text-align: center;
	width: 12rem;
	padding: 1.25rem;
	border-radius: .25rem;
}