html {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	background-color: rgb(221, 139, 137);
	font-family: Roboto, sans-serif;
	
}

.content {
	margin-top: 5rem;
}

.heading {
	width: 70rem;

	&__link {
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(234, 185, 184);
		font-size: 3.5rem;
		font-weight: 700;
		display: inline-block;
		padding-right: 1rem;
		margin-right: 1rem;

		&:hover {
			color: rgb(242, 208, 208);
		}
	}
}

.synthetic {
	color: white;
}

.subheader {
	color: white;
}
