html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	background-color: rgb(43, 62, 80);
	font-family: Roboto, sans-serif;
}


.card {
	height: 36.5rem;
	width: 50rem;
	background-color: rgb(36, 38, 42);
	margin: 3.15rem auto 0;
	border-radius: .25rem;
	box-shadow: 0 .6rem 1.5rem 0rem rgb(30, 41, 52);

	&__content {
		color: white;
		padding: 1rem;
	}
}

.movie {
	display: flex;
	align-items: center;

	&__title {
		font-size: 1.65rem;
		font-weight: 500;
		margin-right: .75rem;
	}

	&__info {
		font-size: .65rem;
		text-transform: uppercase;
		font-weight: 500;
		background-color: rgb(80, 81, 85);
		padding: .25rem;
		margin-right: .5rem;
		border-radius: .1rem;
	}
}

.close {
	height: 2.5rem;
	width: 2.5rem;
	border: solid .15rem;
	border-radius: 50%;
	margin-left: 25rem;
	font-size: 1.35rem;
	font-weight: 300;
	color: rgb(124, 125, 127);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color .2s;

	&:hover{
		color: white;
		cursor: pointer;

	}
}

.theater {
	color: rgb(170, 170, 170);
	font-size: .95rem;
}

.date {
	margin: 1rem 0;
	font-size: 1.1rem;
}

.line {
	width: 100%;
	height: 1px;
	background-color: rgb(80, 81, 85);
}

.screen {
	width: 100%;
	height: 9.5rem;
	perspective: 100rem;
	// background-color: pink;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	&__img {
		// background-image: url("img/screen.jpg");
		height: 7.5rem;
		width: 37rem;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: bottom;
		transform: rotateX(-50deg);
		object-fit: cover;
		box-shadow: 0 4rem 4rem -2rem rgb(80, 80, 80);

		&-jpg{
			height: 100%;
			width: 100%;
		}
	}
}
