body {
	background-color: rgb(35, 160, 133);
}

.simplewheels-main {
	background-color: white;
	height: 25rem;
	width: 35rem;
	background-image: url(img/bicycle.png);
	background-position: center 8.5rem;
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: Roboto, sans-serif;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* table css */

tr, th, td {
	padding-top: 1.8rem;
}

th.left-column {
	text-align: left;
	font-weight: normal;
	padding-left: 3rem;
	padding-right: 12rem;
}

td.right-column {
	text-align: right;
}

