$backgroundColor: rgba(248, 235, 233, 1);

%bodyStyles {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	background-color: $backgroundColor;
}

html {
	height: 100%;
}

body {
	@extend %bodyStyles;
}

.card {
	width: 60rem;
	height: 37rem;
	background-color: white;
	margin: 3rem auto 0;
	box-shadow: .2rem 2.5rem 2.5rem -1rem rgba(208, 149, 130, 1);
}

/*-----links-----*/

.nav {
	&__link {
		text-decoration: none;
		text-transform: uppercase;
		font-family: Roboto, sans-serif;
		color: black;
		font-weight: 500;
		font-size: .8rem;
		opacity: .4;

		&:hover {
			color: black;
			opacity: 1;
		}

		&:visited {
			color: black;
			opacity: 1;
		}
	}
}


.current__link {
	color: black;
	opacity: 1;
}
/*-----card left css-----*/

.card__left {
	background-image: url("img/background.jpg");
	height: 100%;
	width: 33%;
	background-size: cover;
	float: left;

	&formatting {
		padding: 1rem 1rem;
	}
}

.back {
	width: 4.5rem;
	height: 2rem;
	padding-top: .6rem;
	padding-left: .4rem;
	/*background-color: purple;*/

	&__arrow {
		float: left;
		padding-top: .2rem;

		&img {
			height: 1.1rem;
			width: 1.1rem;
		}
	}

	&__text {
		float: left;
		padding: .3rem .3rem;
	}
}

/*-----card right css-----*/

.card__right {
	float: left;
	height: 100%;
	width: 67%;

	&formatting {
		padding: 1rem 1rem;	
	}
}


/*-----nav links for countries-----*/




.nav__country {
	float: right;
	padding-right: 1.5rem;
	padding-top: 1rem;

	&:after {
		clear: both;
		content: "";
		display: table;	
	}
}

.nav__link-country {
	margin-left: 1rem;
	padding: .5rem;
	/*background-color: red;*/
}

/*-----main right card-----*/

.card__right-info {
	padding-top: 5rem;
	padding-left: 6rem;
	font-family: Playfair Display, serif;
}

.card__right-title {
	font-weight: 300;
	font-size: 3.5rem;
	position: relative;
	width: 20rem;
}

.card__right-title:after {
	content: "";
	height: .18rem;
	width: 5rem;
	background-color: black;
	position: absolute;
	margin-top: 2.3rem;
	margin-left: 1rem;
}

.card__right-author {
	margin-top: -1rem;
}

.video {
	padding-top: 2rem;
	float: left;
}

.video__preview {
	background-image: url("img/preview.jpg");
	height: 7rem;
	width: 10.5rem;
	background-size: cover;
}

.video__play {
	background-color: rgba(255, 255, 255, .8);
	border-radius: 50%;
	padding: .3rem;
	margin: 2.5rem 4.5rem;
}

.video__sub {
	text-decoration: none;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	color: black;
	font-weight: 500;
	font-size: .8rem;
	padding-top: 1rem;
	float: left;
}

.video__sub-text {
	float: left;
	width: 7rem;
	height: 1rem;
}

.video__sub-arrowbox {
	margin-top: -.1rem;
	float: left;
}

.video__sub-arrow {
	height: 1.1rem;
	width: 1.1rem;
}

.summary {
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: .9rem;
	width: 13rem;
	line-height: 1.85rem;
	margin-top: 1.3rem;
	margin-left: 2.5rem;
	float: left;
}