html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	background-color: rgba(248, 235, 233);
}

.card {
	width: 60rem;
	height: 35rem;
	background-color: white;
	margin: 4rem auto 0;
	box-shadow: .2rem 2.5rem 2.5rem -1rem rgba(208, 149, 130);
}

.nav__link {
	text-decoration: none;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	color: black;
	font-weight: 500;
	font-size: .8rem;
	opacity: .4;
}

.nav__link:hover {
	color: black;
	opacity: 1;
}

/*-----card left css-----*/

.card__left {
	background-image: url("img/background.jpg");
	height: 100%;
	width: 33%;
	background-size: cover;
}

.card__leftpadding {
	padding: 1rem 1rem;

}

.back {
	width: 4.5rem;
	height: 2rem;
	padding-top: .6rem;
	padding-left: .4rem;
	/*background-color: purple;*/
}

.back__arrow {
	float: left;
	padding-top: .2rem;
}

.back__arrowimg {
	height: 1.1rem;
	width: 1.1rem;
}

.back__text {
	float: left;
	padding: .3rem .3rem;

}

/*-----card right css-----*/

.card__right {

}