html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	font-family: Roboto, sans-serif;
}

.card {
	height: 22rem;
	width: 30rem;
	background-color: rgb(66, 77, 132);
	margin: 9.25rem auto 0;
	border-radius: .25rem;
	box-shadow: 0 .25rem 1rem 0rem darkgrey;
	position: relative;
	overflow: hidden;
}

.chart {
	height: 10.5rem;
	width: 31.25rem;
	// background-color: pink;
	position: absolute;
	left: -.5rem;


	&__bar {
		display: flex;
		justify-content: space-between;
		height: 100%;
		width: 100%;
	}
}

.bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	&__line {
		width: 1.4rem;
		background-color: rgb(169, 175, 199);
		border-radius: .25rem;

		&-1 {
			height: 7rem;
		}

		&-2 {
			height: 9rem;
		}

		&-3 {
			height: 7rem;
		}

		&-4 {
			height: 7rem;
		}

		&-5 {
			height: 7rem;
		}

		&-6 {
			height: 7rem;
		}

		&-7 {
			height: 7rem;
		}

		&-8 {
			height: 7rem;
		}

		&-9 {
			height: 7rem;
		}

		&-10 {
			height: 7rem;
		}
	}

	&__month {
		margin-top: .5rem;
		color: rgb(169, 175, 199);
		font-size: .9rem;
	}


}