 
@import "siteheaderblock";
@import "productinfo";
@import "linkbox";

html {
	height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	min-width: 50rem;
}

.centered {
	margin: 2.75em auto 0;
}

.section__one {
	background-image: url("../img/watches.jpg");
	min-width: 60rem;
	height: 50rem;
	width: 100%;
	background-color: white;
	background-position: top 10rem left 30rem;
	background-size: cover;
	background-repeat: no-repeat;

}
.sectioncontent {
	// padding: 3rem 10rem;
	// min-width: 50rem;
	max-width: 56.5rem;
	// background-color: pink;
}
