.siteheaderblock {
  color: #999999;
  font-weight: 300;
  font-size: .8rem; }
  .siteheaderblock:after {
    content: "";
    display: table;
    clear: both; }

.nav {
  float: right;
  margin-top: 1.25rem; }
  .navlinks {
    padding-bottom: .5rem;
    color: #999999; }
    .navlinks:hover {
      color: black;
      border-bottom: 0.15rem solid #999999; }
  .navdisplay {
    display: inline-block;
    margin-left: 2.2rem; }

.applelogo {
  float: left; }
  .applelogo__img {
    width: 1.5rem; }

.helpform {
  border: 0;
  border-bottom: 0.05rem solid #b2b2b2;
  padding-bottom: .25rem;
  background-color: transparent;
  box-shadow: none;
  font-size: .8rem; }
  .helpform:focus {
    outline: none;
    border-bottom: .05rem solid black; }

.productinfo {
  width: 30rem;
  margin-top: 7.5rem; }
  .productinfo__header {
    font-size: 2.5rem;
    font-weight: 700; }
  .productinfo__description {
    font-size: .75rem;
    color: #999999;
    line-height: 1.25rem;
    width: 21rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
    position: relative; }
    .productinfo__description:before {
      content: "";
      height: 6rem;
      width: .1rem;
      background-color: #999999;
      position: absolute;
      margin-left: -2rem; }

.linkbox {
  background-color: #ea635c;
  width: fit-content;
  height: 1rem;
  padding: .5rem 1rem;
  margin-top: 2rem;
  color: white;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 500;
  text-align: center; }

.interlude {
  margin-top: 1.6rem; }
  .interlude__column {
    width: 15.2rem;
    float: left;
    padding: 1rem; }
  .interlude__header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .87rem;
    margin-bottom: 2.75rem; }
  .interlude__info {
    font-size: .8rem;
    line-height: 1.5rem; }

.margin-right {
  margin-right: 2.5rem; }

.dot {
  background-color: #cccccc;
  height: .25rem;
  width: .25rem;
  margin: .25rem;
  float: left; }
  .dot__group {
    width: 5rem;
    margin-top: .75rem; }

.link {
  text-decoration: none; }
  .link:before {
    content: "";
    background-color: #ea635c;
    height: .1rem;
    width: 2rem;
    margin-left: 0rem;
    margin-top: 1.5rem;
    position: absolute;
    transition: width .25s; }
  .link:hover:before {
    width: 2.5rem; }
  .link:hover > .link__learnmore {
    margin-left: 3.5rem; }
  .link__learnmore {
    text-transform: uppercase;
    color: #ea635c;
    font-weight: 700;
    font-size: .75rem;
    position: relative;
    margin-left: 2.75rem;
    margin-top: 1rem;
    transition: margin-left .25s;
    width: 5rem; }

html {
  height: 100%;
  width: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  min-width: 50rem; }

.centered {
  margin: 0 auto 0; }

.section__one {
  background-image: url("../img/watches.jpg");
  min-width: 60rem;
  height: 40rem;
  width: 100%;
  background-color: white;
  background-position: bottom -2.5rem right -12.5rem;
  background-size: 40rem;
  background-repeat: no-repeat;
  border-bottom: 0.05rem solid #dedede;
  margin-top: 2.75rem; }

.sectioncontent {
  max-width: 56.75rem; }

.section__two {
  width: 100%;
  min-width: 60rem; }

/*# sourceMappingURL=main.css.map */
