.productinfo {
	width: 30rem;
	padding-top: 7.5rem;

	&__three {
		padding-top: 8.5rem;
		margin-top: 3.5rem;
	}

	&__four {
		padding-top: 11.5rem;
		float: right;
	}

	&__header {
		font-size: 2.5rem;
		font-weight: 700;
		width: 23rem;

	}

	&__description {
		font-size: .75rem;
		color: rgb(153, 153, 153);
		line-height: 1.25rem;
		width: 21.25rem;
		margin-top: 2.5rem;
		margin-left: 2rem;
		position: relative;

		&:before {
			content: "";
			height: 6rem;
			width: .1rem;
			background-color: rgb(153, 153, 153);
			position: absolute;
			margin-left: -2rem;
		}
	}
}