.siteheaderblock {
	// clear: both;
	color: rgb(153, 153, 153);
	font-weight: 300;
	font-size: .75rem;

	&:after {
		content: "";
		display: table;
		clear: both;

	}
}

.nav {
	float: right;
	margin-top: 1.25rem;

	&links {
	}

	&display {
		display: inline-block;
		margin-left: 2rem;
		// clear: both;
	}

}

.applelogo {
	float: left;

	&__img {
		width: 1.5rem;
	}
}

.helpform {
	border: 0;
	border-bottom: .05rem solid rgb(178, 178, 178);
	padding-bottom: .25rem;
	background-color: transparent;
	box-shadow: none;
	// box-shadow: none;
	// background-color: pink;
	&:focus {
		outline: none;
		border-bottom: .05rem solid black;
	}
}
