html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(rgb(183, 133, 228), rgb(132, 137, 240));
	font-family: Roboto, sans-serif;
}

.card {
	height: 19rem;
	width: 19rem;
	background: linear-gradient(135deg, rgb(188, 126, 218), rgb(139, 118, 205));
	margin: 6rem auto 0;
	border-radius: .25rem;
	box-shadow: 0rem .75rem 3rem .25rem rgb(132, 110, 190);

	&__content {
		
		
	}
}
	
.arrow {
	float: right;

}

.folder {
	color: white;
	float: left;
	
	&__icon {
		background-color: white;
		border-radius: 50%;
		float: left;

		&-img {
			size: 50rem;
		}
	}

	&__sub {
		background-color: rgb(96, 82, 128);
		width: 100%;
		height: 10rem;
		color: rgb(220, 217, 227);

		&-content {

		}

		&-files {
			
		}
	}
}

.active-folder {
	&:after {
		content: "";
		display: table;
		clear: both;
		}
}