html, body {
	padding: 0;
	margin: 0;
}

html {
	min-height: 100%;
}

body {
	background-image: url("img/background.jpg");
	background-size: cover;
	font-family: Pakenham Kayo, sans-serif;
	width: 100%;
	height: 100%;
}

.centered {
	/*margin-left: 50%;
	margin-top: 15%;
	transform: translate(-50%, -15%);*/
	margin: 6rem auto 0;
}

.main {
	background-color: white;
	height: 28rem;
	width: 25rem;
}

.main__data {
	position: relative;
	padding: 2.3rem;
}

.dash {
	background-color: rgba(211, 230, 244);
	height: .3rem;
	width: 1.8rem;
	position: absolute;
	margin: 4.1rem 9.1rem 0;
}
.departure-location {
	float: left;
	margin-top: -1.3rem;
}

.arrival-location {
	float: right;
	margin-top: -1.3rem;
	text-align: right;

}

.location-abbreviation {
	color: rgba(53, 138, 207);
	font-size: 3rem;
	font-weight: 700;
	text-shadow: .1rem 0rem rgba(53, 138, 207),
				-.1rem 0rem rgba(53, 138, 207),
				.1rem .1rem rgba(53, 138, 207),
				-.1rem .1rem rgba(53, 138, 207),
				.1rem -.1rem rgba(53, 138, 207),
				-.1rem -.1rem rgba(53, 138, 207);
}

.location-full-name {
	color: rgba(183, 173, 170);
	margin-top: -3rem;
	font-size: .9rem;
}

