html, body {
	padding: 0;
	margin: 0;
}

html {
	min-height: 100%;
}

body {
	background-image: url("img/background.jpg");
	background-size: cover;
	font-family: Roboto, sans-serif;
	width: 100%;b]
	height: 100%;
}

.centered {
	/*margin-left: 50%;
	margin-top: 15%;
	transform: translate(-50%, -15%);*/
	margin: 6rem auto 0;
}

.main {
	background-color: white;
	height: 28rem;
	width: 25rem;
}

.main__data {
	position: relative;
	/*padding: 2.3rem;*/
	height: 24rem;
	width: 21rem;
	padding-top: 1rem;
}

.dash {
	background-color: rgba(211, 230, 244);
	height: .3rem;
	width: 1.8rem;
	float: left;
	/*display: inline-block;*/
	position: absolute;
	margin: 4rem 9.5rem 0;
}
.departure-location {
	float: left;
	/*margin-top: -1.3rem;*/
}

.arrival-location {
	float: right;
	/*margin-top: -1.3rem;*/
	text-align: right;

}

.location-abbreviation {
	color: rgba(53, 138, 207);
	font-size: 3rem;
	font-weight: 700;
	font-family: Prompt, sans-serif;
	margin-top: 1.5rem;
}

.location-full-name {
	color: rgba(183, 173, 170);
	margin-top: -3.5rem;
	font-size: .9rem;
}

table {
	display: block;
	clear: both;
}

th.flight-info-header {
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 400;
	color: rgba(183, 173, 170);
	text-align: left;
}

td.flight-info-data {
	text-align: left;
}
}