html, body {
	padding: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	background-color: rgb(163, 197, 243);
	font-family: Roboto, sans-serif;
}

.card {
	margin: 3.2rem auto 0;
	height: 38.85rem;
	width: 50rem;
	background-color: white;
	overflow: hidden;
}

.weather {
	width: 52.63rem;
	height: 10.55rem;
	background-image: url("img/background.jpg");
	background-size: 95%;
	background-position: left center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;

	&-filter {
		content: "";
		height: 10.55rem;
		width: 50rem;
		position: absolute;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.7);

	}	

	&__forcast {
		padding: 0 2.5rem;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		z-index: 10;
		color: white;
		display: flex;
		// align-items: flex-start;
		justify-content: space-between;

		&-info {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}

.weather-icon {
	font-size: 2.5rem;

	&-small {

	}
}

.day {
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 500;
	line-height: 1.75rem;
}

.temp {


	&-big {
		font-size: 2.5rem;
		line-height: 3.75rem;
	}
}
.just-weather {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20rem;
}

.current-time {
	width: 18rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 9rem;

}

.today {
	color: rgb(200, 200, 200);
	text-align: right;
	font-size: 1.1rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	&__day {
		line-height: 1.5rem;
	}

	&__date {

	}

	&__time {
		font-size: 3.75rem;
		font-weight: 300;
		height: 3rem;
		// align-self: flex-start;

		&-am {
			font-size: .9rem;
			font-weight: 500;
			padding-left: .75rem;
		}
	}
}


.media__icon {
	color: lightblue;
	padding: 7.25rem 3rem;
	text-align: center;
}


.video {
	display: flex;


	&__content {

	}

	&__channel {
		width: 25rem;
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		padding: 1rem 0;

		&-name {
			color: rgb(178, 178, 178);
			font-size: .9rem;

		}
		&-active {
			color: black;
			font-size: 1.25rem;
			font-weight: 700;
		}
	}

	&__info {
		display: flex;
		
		&-section {
			display: flex;
			flex-direction: column;
			width: 9.5rem;
			background-color: blue;


			&-active {
				margin-right: -5rem;
				margin-left: -1rem;
				z-index: 1;
				background-color: purple;
			}
		}

		&-text {
			
		}

		&-time {
			font-size: .8rem;
			color: rgb(170, 170, 170);
		}
	}

	&__img {
		height: 5.5rem;
		width: 9.5rem;
		background-size: 100%;
		background-position: center;
		display: flex;
		box-shadow: 0 1rem 2rem -1rem;
		margin: 1rem 0;

		&-local {
			background-image: url("img/video-local-programming.jpg");
		}

		&-famguy {
			background-image: url("img/video-family-guy.jpg");

		}

		&-simpsons {
			background-image: url("img/video-simpsons.jpg");
			background-repeat: no-repeat;
			background-size: cover;

			height: 6.5rem;
			width: 10.5rem;
		}

		&-futurama {
			background-image: url("img/video-futurama.jpg");
			margin-left: 5.5rem;
		}

		&-american {
			background-image: url("img/video-american-dad.jpg");
		}
	}

}


.line-br {
	width: 100%;
	height: 1px;
	background-color: rgb(222, 222, 222);
	position: relative;

	&:before {
		content: "";
		height: .35rem;
		width: 6rem;
		background-color: rgb(179, 205, 241);
		position: absolute;
		bottom: -.2rem;
		left: 22rem;
		border-radius: 1rem;
	}
}

.music {
	background-color: pink;
	
	&__icon {

	}

	&__playing {
		
		&-img{

		}

		&-title {

		}

		&-artist {

		}
	}

	&__playlist {

	}
}

