$cardlogoheight: 2.3rem;


html {
	min-height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: rgb(247, 205, 117);
}

a {
	text-decoration: none;
}
.card {
	height: 28rem;
	width: 50rem;
	background-color: white;
	margin: 6rem auto 0;
	box-shadow: 0rem 1rem 2rem -.5rem rgb(213, 171, 71);

	&__left {
		background-color: rgb(242, 242, 242);
		width: 37%;
		height: 100%;
		float: left;

		&-content {
			padding-left: 2.5rem;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
		
		&-header {
			margin-bottom: 4rem;

			&text {
				font-size: 1.3rem;
				color: rgb(50, 57, 76);
				float: left;
			}

			&plus {
					float: right;
					padding-right: 2rem;
			}
		}
		&-cards {
			clear: both;
		}

		&-singlecard {
			background-color: white;
			height: 7rem;
			width: 13rem;
			border: .05rem solid rgb(222, 222, 222);
			border-radius: .3rem;
			margin-top: 1.8rem;

			&-active {
				border: .1rem solid rgb(137, 148, 200);
			}

			&logo {
				margin: .7rem;

				&-visa {
					height: $cardlogoheight;
				}

				&-mastercard {
					height: $cardlogoheight;
				}
				
				&-maestro {
					height: $cardlogoheight;
				}
			}
			
			&num {
				color: rgb(112, 126, 141);
				margin-left: .7rem;
				margin-bottom: .4rem;
			}

			&date {
				color: rgb(112, 126, 141);
				font-size: .8rem;
				margin-left: .7rem;
			}
		}
	}


	&__right {
		height: 100%;
		width: 63%;
		float: left;

		&-content {
			padding: 2.5rem;
			padding-bottom: 0;
		}

		&-header {
			border-bottom: .05rem solid rgb(222, 222, 222);
			height: 4rem;
			margin-bottom: 2rem;

			&text {
				font-size: 1.3rem;
				color: rgb(50, 57, 76);
				float: left;
			}

			&balance {
				font-size: 1.5rem;
				font-weight: 700;
				float: right;
				// background-color: red;
				margin-top: -.5rem;
			}
		}

		&-transactions {
			
			&line {
				// background-color: red;
				height: 4rem;
				width: 100%;
				margin: .5rem;
				// background-color: red;
			}

			&button {
				// background-color: grey;
				width: 1.25rem;
				height: 1.25rem;
				border-radius: 50%;
				border: .05rem solid rgb(223, 223, 223);

				&img {
					height: .75rem;
					margin: .25rem;
				}
			}

			&action {
				font-weight: 700;
				font-size: 1.1rem;
			}

			&reference {
				color: rgb(180, 180, 180);
				font-size: .75rem;
			}

			&sum {
				float: right;
				// background-color: red;
				margin-top: .25rem;
				font-weight: 700;
				// clear: both;
			}
		}
	}
}

.withdrawl {
	// color: rgb(136, 152, 198);
}

.deposit {
	color: rgb(138, 206, 94);
}
.buttonposition {
	float: left;
	margin-top: .5rem;
}

.middlecolumn {
	float: left;
	width: 15rem;
	margin-left: 1.75rem;

}
.scrollbar {
	height: 28rem;
	overflow: auto;
}