.left {
	background-color: white;
	width: 12.25rem;
	height: 33.25rem;
	border: .01rem solid rgb(232, 244, 251);
	
	&__top {
		border-bottom: .01rem solid rgb(241, 241, 241);
		height: 19rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__avatar {
		padding: 1.25rem;

		&-img {
			height: 6.25rem;
			border-radius: 50%;
		}
	}

	&__name {
		font-weight: 500;
		font-size: 1.15rem;
	}

	&__title {
		font-size: .8rem;
		font-weight: 300;
	}

	&__location {
		font-size: .8rem;
		color: rgb(170, 170, 170);
	}

	&__bottom {

	}

}



.button {
	height: 2rem;
	width: 10rem;
	border-radius: 1rem;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .95rem;

	&__follow {
		background-color: rgb(95, 181, 229);
		color: white;
		
	}

	&__connect {
		border: solid .05rem rgb(95, 181, 229);
		color: rgb(95, 181, 229);
	}
}

.connections {
	display: flex;
	width: 100%;
	height: 4.5rem;

	&__section {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: solid .01rem rgb(241, 241, 241);
	}

	&__num {
		font-weight: 500;

	}

	&__title {
		color: rgb(170, 170, 170);
		font-weight: 300;
		font-size: .85rem;
	}
}
