.header {
  min-width: 65rem;
  height: 7.5rem;
  background-color: white;
  border-bottom: 0.01rem solid #f1f1f1;
  position: relative; }

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300; }
  .nav__main {
    width: 65rem;
    height: 5rem;
    margin: 0 auto 0;
    display: flex;
    align-items: center; }
    .nav__main-hover {
      transition: all .3s;
      padding: .25rem; }
      .nav__main-hover:hover {
        cursor: pointer;
        transform: translate(0, -0.15rem); }
    .nav__main-borderbottom {
      position: absolute;
      width: 100%;
      height: .04rem;
      background-color: #f1f1f1;
      top: 5rem; }
    .nav__main-buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 29.5rem;
      font-size: .9rem; }
      .nav__main-buttons-container {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 33rem;
        border-right: 0.01rem solid #f1f1f1; }
  .nav__sub {
    display: flex;
    width: 63rem;
    height: 2.5rem;
    margin: 0 auto 0;
    font-size: .85rem; }
    .nav__sub-button {
      display: flex;
      align-items: center;
      color: #5b5b5b;
      height: 100%;
      padding: 0rem 1.25rem;
      margin-right: .75rem;
      transition: box-shadow .3s; }
      .nav__sub-button:hover {
        cursor: pointer;
        box-shadow: inset 0 -0.15rem 0 0 #5fb5e5; }
  .nav .current {
    box-shadow: inset 0 -0.15rem 0 0 #5fb5e5; }
  .nav__icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    height: 100%;
    border-right: 0.01rem solid #f1f1f1; }
    .nav__icon-message {
      transform: scale(-1, 1);
      fill: #2ecc72;
      transition: margin-bottom .3s;
      padding: .25rem; }
      .nav__icon-message:hover {
        cursor: pointer;
        margin-bottom: .25rem;
        transform: scale(-1, 1); }
    .nav__icon-notifications {
      fill: #f1c40e; }
    .nav__icon-addperson {
      fill: #9b59b6; }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 4.25rem;
  border-right: 0.01rem solid #f1f1f1; }
  .logo__in {
    height: 1.75rem; }

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12rem;
  border-right: 0.01rem solid #f1f1f1;
  position: relative; }
  .search-bar {
    border-radius: 1rem;
    height: 1.5rem;
    border: 0.05rem solid #dfdfdf;
    width: 9.25rem; }
    .search-bar:focus {
      outline: none; }
  .search__icon {
    position: absolute;
    fill: #333333;
    left: 9rem;
    top: 2rem;
    cursor: text; }

.avatar {
  height: 100%;
  width: 4.75rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .avatar-one {
    border-radius: 50%;
    height: 2.5rem; }

.red {
  color: red; }

.left {
  background-color: white;
  width: 12.25rem;
  height: 33.25rem;
  border: 0.01rem solid #e8f4fb; }
  .left__top {
    border-bottom: 0.01rem solid #f1f1f1;
    height: 19rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .left__top-margin {
      margin-top: .5rem; }
  .left__avatar {
    padding: 1.25rem; }
    .left__avatar-img {
      height: 6.25rem;
      border-radius: 50%; }
  .left__name {
    font-weight: 500;
    font-size: 1.15rem; }
  .left__title {
    font-size: .8rem;
    font-weight: 300; }
  .left__location {
    font-size: .8rem;
    color: #aaaaaa; }
  .left__link {
    color: #aaaaaa;
    font-size: .8rem;
    fill: #aaaaaa; }
    .left__link-line {
      text-decoration: none; }
      .left__link-line:hover {
        text-decoration: underline; }
      .left__link-line:visited {
        color: #aaaaaa; }

.button {
  height: 2rem;
  width: 10rem;
  border-radius: 1rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .95rem; }
  .button__follow {
    background-color: #5fb5e5;
    color: white; }
  .button__connect {
    border: solid 0.05rem #5fb5e5;
    color: #5fb5e5;
    fill: #5fb5e5; }

.connections {
  display: flex;
  width: 100%;
  height: 4.5rem; }
  .connections__section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 0.01rem #f1f1f1; }
  .connections__num {
    font-weight: 500; }
  .connections__title {
    color: #aaaaaa;
    font-weight: 300;
    font-size: .85rem; }

.middle {
  width: 38rem; }

.posts {
  width: 100%;
  height: 22rem;
  background-color: white;
  border: 0.01rem solid #e8f4fb; }
  .posts__title {
    text-transform: uppercase; }

.article__img {
  height: 10rem; }

.right {
  width: 10rem;
  height: 40rem;
  background-color: violet; }

html, body {
  height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #f6f8f9; }

.body {
  width: 65rem;
  margin: 1rem auto 0; }
  .body__content {
    display: flex;
    justify-content: space-around; }

/*# sourceMappingURL=main.css.map */
