html, body {
	height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: rgb(246, 248, 249);
}

.header {
	min-width: 65rem;
	height: 7.5rem;
	background-color: white;
	border-bottom: solid black;
	
}

.nav {
	width: 65rem;
	height: 75%;
	margin: 0 auto 0;
	display: flex;
	font-weight: 300;


	&__main {
		height: 100%;
		display: flex;
		align-items: center;

		&-buttons {
			display: flex;
		}
	}

	&__sub {

	}
}

.logo {

	&__in {
		height: 1.75rem;
	}
}

.avatar {

	&1 {
		border-radius: 50%;
		height: 3rem;
	}
}