html, body {
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

body {
	background-color: rgb(39, 49, 70);

}

.icon-sprite {
	position: absolute;
}

.card {
	margin: 6.25rem auto 0;
	height: 38rem;
	width: 50.75rem;
	background-color: white;
	border-radius: .25rem;
	display: flex;
}

.navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 6rem;
	height: 36rem;
	// background-color: aqua;
	
	&__content {
		margin: 2rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: space-between;
		// background-color: purple;
		height: 23rem;
		width: 100%;
		border-right: solid .05rem rgb(222, 222, 222);

	}

	&__top {
		display: flex;
		flex-direction: column;
		margin-bottom: 3rem;
		width: 100%
	}

	&__middle {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 13rem;
		// background-color: aqua;
		width: 100%;
		padding-top: .5rem;
	}

	&__bottom {
		
	}
}

.icon {
	fill: rgb(208, 208, 208);
	height: 2rem;
	
	&-search {
		height: 2rem;
	}
	&-nav {
		transition: fill .2s ease, border-right .2s ease;
		// background-color: pink;

		&:hover {
			cursor: pointer;
			fill: rgb(100, 141, 247);
			border-right: solid .1rem rgb(100, 141, 247);
		}
	}
	&__logo {
		fill: rgb(100, 141, 247);
	}

	&__selected {
		fill: rgb(100, 141, 247);
		border-right: solid .1rem rgb(100, 141, 247);
	}
}

.avatar {
	height: 2.5rem;
	border: solid .1rem rgb(100, 141, 247);
	border-radius: 50%;
}

.main {
	width: 44.25rem;

	&__content {
		margin: 2rem 2.5rem;
	}

	&__header {
		color: rgb(170, 170, 170);
		margin-bottom: 1.15rem;
		z-index: 20;
	}

	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.75rem;

		&-name {
			font-size: 3.65rem;
			font-weight: 700;
			z-index: 15;

		}

		&-button {
			color: rgb(100, 141, 247);
			border: solid .01rem rgb(174, 198, 251);
			line-height: 2.5rem;
			height: 2.5rem;
			font-size: .75rem;
			font-weight: 500;
			padding: 0 2.5rem;
			text-align: center;
			text-transform: uppercase;
			transition: border-color .2s ease, margin-top .1s ease;

			&:hover {
				border-color: rgb(100, 141, 247);
				cursor: pointer;
			}

			&:active {
				margin-top: .1rem;
			}
		}
	}
}

.gallery {
	height: 26.25rem;
	width: 100%;
	// background-color: aqua;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__row1 {
		height: 12.5rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		// background-color: purple;
	}

	&__row2 {
		display: flex;
		justify-content: space-between;
		height: 12.55rem;

	}

	
}

.thumbnail {
	position: relative;
	height: 12.5rem;
	width: 12.25rem;
	overflow: hidden;

	&__wide {
		width: 25.75rem;
	}

	&__img {
		position: absolute;
		height: 100%;
		width: auto;

		&-1 {
			right: -5rem;
		}

		&-2 {
			width: 100%;
			height: auto;
			bottom: -2.35rem;
		}

		&-3 {
			left: -3rem;
		}

		&-4 {
			left: -4.35rem;
		}

		&-5 {
			left: -2rem;
		}
	}
}

.hover {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	position: relative;
	
	&__layer {
		content: "";
		height: 12.5rem;
		width: 12.25rem;
		background: rgba(47, 70, 120, 0);
		position: absolute;
		z-index: 10;
		transition: background .2s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		
		&:hover {
			background: rgba(47, 70, 120, .5);

			.hover__icon-single {
				fill: rgba(255, 255, 255, .5);
			}
		} 

		&-wide {
			width: 25.75rem;
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		width: 6.75rem;
		
		&-single {
			height: 2rem;
			fill: rgba(255, 255, 255, 0);
			transition: fill .2s ease, opacity .2s ease;

			&:hover {
				cursor: pointer;
				fill: rgba(255, 255, 255, 1);
				// opacity: 1;
			}
		}
	}
}
