 html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	font-family: Roboto, sans-serif;
	height: 100%;
	width: 100%;
}

// .background__yellow {
// 	content: "";
// 	background-color: rgba(255, 215, 40, 0.85);
// 	height: 100%;
// 	width: 100%;
// 	z-index: 10;
	
// 	background: linear-gradient();
// 	position: absolute;
// 	display: block;
// }

.content {
	height: 100%;
	width: 100%;
}

.main {

	&__content {

	}

	&__num {

	}

	&__text {
		
	}
}

.left {
	color: white;
	font-weight: 300;
	font-size: 1.25rem;
	float: left;
	background-color: pink;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 3rem;

	&:hover {
		cursor: pointer;
	}
	
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__upper {
		

		&-content {

		}
	}



}

.right {
	float: right;
	background-color: rgba(255, 215, 40, 0.85);
	height: 100%;
	

	&__upper {

		&:hover {
			cursor: pointer;
		}

		&-content {

		}
	}

	&__lower {
		
		&-content {

		}
	}
}

