 html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	font-family: Roboto, sans-serif;
	height: 100%;
	width: 100%;
}

.mask {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.background__yellow {
	height: 100%;
	position: relative;
	z-index: 1;

		&:before {
			content: "";
			position: absolute;
			height: 200%;
			width: 100%;
			transform: rotate(20deg);
			background-color: rgba(255, 215, 40, 0.85);
			z-index: -11;
			left: 23%;
			bottom: -80%;
		}
}

.content {
	height: 100%;
	width: 100%;
	// position: relative;

	// background-color: purple;
	// 
	// 
	// }
}
.bottom-right {
	position: absolute;
	margin-bottom: 1.5rem;
	bottom: 0;
}
.main {
	margin-right: 1rem;
	// margin-top: 72%;
	

	&__content {
		text-align: right;
	}

	&__num {
		font-size: 5.75rem;
	}

	&__text {
		font-size: 2.5rem;
		font-weight: 500;
		max-width: 21rem;
	}
}

.left {
	color: white;
	height: 100%;
	font-weight: 300;
	font-size: 1.25rem;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 3rem;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.25rem;

		&:hover {
			cursor: pointer;
		}
	}

	&__upper {
		

		&-content {

		}
	}

	&__lower {
	}
}

.num {
	padding: .25rem;
}

.right {
	height: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	align-content: flex-end;

	&__upper {
		margin-right: 1rem;
		margin-top: 1rem;


		&:hover {
			cursor: pointer;
		}

		&-content {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__lower {
		margin-right: 1rem;
		margin-top: 8%;
		height: 100%;
		
		&-content {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			align-content: flex-end;
		}
	}
}

.text {
	margin-left: .75rem;
	font-size: 1.25rem;
}

.view {
	height: 1.5rem;
}

.next {
	margin-left: 1rem
}