html, body {
	width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: rgb(242, 244, 248);
}

.card {
	margin: 9rem auto 9rem;
	width: 25rem;
	height: 42.75rem;
	background-color: rgb(247, 247, 247);
	border: solid 1rem black;
	border-radius: 3rem;
	box-shadow: 0 0.5rem 2rem .25rem rgb(171, 172, 175);
	overflow: hidden;
	

	&__content {

	}
}

.blackbar {
	background-color: black;
	height: 2.25rem;
	width: 15rem;
	position: absolute;
	z-index: 2;
	border-radius: .5rem;
	bottom: 31.75rem;
	left: 12rem;

	&:before, &:after {
		content: "";
		height: 2.25rem;
		width: 1rem;
		background-color: rgb(83, 136, 244);
		// background-color: red;
		position: absolute;
		z-index: 2;
		border-radius: .45rem;
		top: .35rem;
	}

	&:before {
		right: 15rem;
	}
	
	&:after {
		left: 15rem;
	}

	&__curve {
		height: 1rem;
		width: 16rem;
		background-color: black;
		position: absolute;
		bottom: 32.75rem;
		left: 11.5rem;
		z-index: 2;
	}
}


.bluediagonal {
	height: 17rem;
	width: 30rem;
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		background-color: rgb(83, 136, 244);
		position: absolute;
		height: 20rem;
		width: 35rem;
		transform: rotate(30deg);
		left: 0rem;
		bottom: 8rem;
		z-index: -1;
	}
}

.title {
	text-transform: uppercase;
	width: 25rem;
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 1.25rem;
	margin-top: 3rem;
}

.creditcard {
	height: 14.5rem;
	margin: .9rem 1.25rem;
}

.options {
	// background-color: purple;
	margin-top: 2.5rem;
	height: 17rem;
	width: 25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	&__line {
		// background-color: pink;
		display: flex;
		// justify-content: space-around;
		align-items: center;
		
		height: 3rem;

	}

	&__text {
		width: 15rem;
		margin-right: 2rem;
		// background-color: purple;
		// 
	}
}

.icon {
	margin: 0 1rem;
}

.text {


	&__title {
		font-weight: 700;
		font-size: 1.1rem
	}

	&__description {
		color: rgb(170, 170, 170);
		font-size: .95rem;
	}
}

// input[type=checkbox] {
// 	position: absolute;
// 	top: -9999px;
// 	left: -9999px;
// }
// label {
// 	display: inline-block;
// }

// input[type=checkbox]:checked ~ selector {
// 	background-color: rgb(83, 136, 244);
// }
.checkbox__real {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.selector {
	height: 2rem;
	width: 3.5rem;
	background-color: white;
	// background-color: rgb(83, 136, 244);
	border: solid .08rem rgb(224, 224, 224);
	border-radius: 2rem;
	position: relative;
	cursor: pointer;
	transition: background 0.4s ease-in-out, border-color 0.3s ease-in-out;

	&:before {
		content: "";
		background-color: white;
		height: 1.79rem;
		width: 1.79rem;
		border: solid .08rem rgb(224, 224, 224);
		border-radius: 50%;
		position: absolute;
		top: .031rem;
		left: .045rem;
		box-shadow: 0 .05rem .25rem rgb(222, 222, 222);
		display: block;
		transition: left 0.3s ease-in-out, border-color 0.3s ease-in-out;
		
	}
}



.checkbox__real:checked + .selector {
	background-color: rgb(83, 136, 244);
	border-color: rgb(83, 136, 244);
}

.checkbox__real:checked + .selector:before {
	transform: translate(1.5rem);
	border-color: rgb(83, 136, 244);
}