html {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: rgb(47, 47, 47);
}

.backing {
	background-color: rgb(252, 236, 82);
	width: 38rem;
	height: 41rem;
	margin: 6rem auto 8.75rem;
	display: flex;
	// flex-direction: column;
	// // justify-content: space-between;
	// // align-content: center;
	// // align-items: center;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-size: 1.25rem;
	}

	&__header {
		
	}

	&__footer {
		color: rgb(112, 108, 61);
		display: flex;
		justify-content: flex-end;
		width: 38rem;
		background-color: purple;

		
	}

	&__button {
		padding: .5rem;
		background-color: pink;
	}
}

