html {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: rgb(47, 47, 47);
}

.backing {
	background-color: rgb(252, 236, 82);
	width: 38rem;
	height: 41rem;
	margin: 6rem auto 8.75rem;

	&__content {
		font-size: 1.25rem;
		padding: 3rem;
		float: right;
	}

	&__header {

	}

	&__title {
		display: inline-block;
		margin-right: 20rem;
	}

	&__footer {
		color: rgb(112, 108, 61);
		margin-top: 32.5rem;
		float: right;


	}

	&__button {
		padding: .5rem;
		display: inline-block;
		
		&:hover {
			cursor: pointer;
			color: black;
		}

	}
}

.close {
	height: 1.25rem;
	width: 1.25rem;
	display: inline-block;
	position: relative;
	// background-color: blue;
	padding-bottom: .25rem;
	padding-right: .25rem;
	top: .25rem;

	&:hover {
		cursor: pointer;
	}

	&:before , &:after {
		content: "";
		height: 1.15rem;
		width: .19rem;
		background-color: rgb(126, 118, 41);
		position: absolute;
		left: .7rem;
		top: .25rem;

	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:hover:before , &:hover:after {
		background-color: black;
		
	}
}